
.albumPanel {
    background-color: white;
    width: 100%;
    height: 8.8rem;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.albumImg img {
    width: 128px;
    height: 128px;
    border-radius: 10px;
    margin: 5px;
}

.albumTextContainer {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.albumName {
    font-size: 125%;
    margin: 2px;
}

.albumInfo {
    margin: 2px;
    color: var(--album-info-font_color-mu);
}

.albumPanel:hover {
    background-color: var(--soundtrack-bg-hover-color-mu);
}