:root {
    --a-link-visited-color-me: #b42b2b;

    --border-color-me: #f56060;
    --border-color-2-me: #e33434;

    --button-hover-color-me: #b1d9e1;
    --button-disabled-bg-color-me: #e5afaf;

    --dialog-bg-color-me: #fffdfd;
    --user-bubble-bg-color-me: #ffbebe;
    --an-user-bubble-bg-color-me: #eae9e9;

    --chat-bg-color-me: #fbecec;
    --chat-bg-color-hover-me: #f3e6e6;
    --chat-info-bg-color-me: #fff8f8;

    --text-input-focus-bg-color-me: #fff6c4;
    --hr-color-me: #c2c2c2;
    --content-bg-color-me: #ffffff;
    --body-bg-color-me: #ecf0f3;
    --footer-bg-color-me: #333636;

    --album-info-font_color-mu: #808080;
    --soundtrack-bg-hover-color-mu: var(--user-bubble-bg-color-me);
    --body-bg-color-mu: var(--body-bg-color-me);
    --button-a-link-hover-color-mu: var(--button-hover-color-me);
    --header-bg-color-mu: var(--border-color-2-me);
    --upper-panel-bg-color-mu: var(--a-link-visited-color-me);
    --footer-bg-color-mu: var(--footer-bg-color-me);
    --a-link-color: white;
    --success-font-color: #34d06f;
}