
.chat_control_panel {
    margin: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.search_field_container {
    width: 70%;
    margin-right: 3px;
}

.user_search_input {
    height: 3rem;
    min-width: 100%;
    font-size: 1.2rem;
    border: solid 2px var(--border-color-2-me);
}

.create_chat_button_container {
    min-width: fit-content;
    margin-left: 3px;
    display: flex;
    align-items: center;
}

.autofit_width {
    width: fit-content;
}

.create_chat_button, .search_button {
    height: 3.4rem;
    background-color: var(--border-color-me);
    color: white;
    font-size: 1rem;
    border: solid 1px black;
}

.create_chat_button {
     min-width: 50%;
     margin-left: 3px;
 }

.shorter {
    min-width: 20%;
    margin-right: 2%;
}

.search_button {
}

.bhover:hover {
    background-color: var(--button-hover-color-me);
    color: var(--border-color-me);
}

.bhover_disabled {
    background-color: var(--button-disabled-bg-color-me);
}

.bhover_disabled:hover {
    background-color: var(--button-disabled-bg-color-me);
}

.attach {
    width: 2rem;
    margin-right: 3px
}

.user_line_container {
    min-width: 70%;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.right {
    align-self: flex-end;
}

.align {
    margin-top: 2.5rem;
}

.z-panel, .profile-zpane {
    position: absolute;
    z-index: 2;

    background-color: #fafafa;
    border-radius:1.5rem;
    border-color: var(--border-color-2-me);
    border-style:solid;
    border-width:0.2rem;

    min-width: 45vw;
    min-height: 40vh;

    display: flex;
    justify-content: center;

    padding: 2rem;
}

.profile-zpane {
    z-index: 4;
    width: 30vw;
    min-width: 30vw;
    min-height: 60vh;

    flex-direction: column;

    /* Center the element */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

#prof-img {
    width: 80%;
}

.user_description {
    margin-top: 4%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.flex_center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_column {
    display: flex;
    flex-direction: column;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#hr_prof {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.label {
    font-weight: bold;
    font-family: "Verdana";
    font-size: 130%;
}

.short {
    margin: 2%;
    font-family: "Verdana";
    font-size: 110%;
}

.shadow {
    z-index: 3;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.4;
    background-color: #333636;
}

.wnd {
    overflow-y:scroll;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.contact_content {
    min-height: 90%;
}

.button_pane_z {
    min-height: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 2% 2%;
}

