
text::-moz-focus-outer, text::-moz-focus-inner {
	border: 0;
	padding: 0;
}

body {
	background-color: var(--body-bg-color-me);
	font-family:"Verdana";
	margin:0;
}

footer {
	background-color: var(--footer-bg-color-me);
	min-height:15vh;
	padding:1rem;
	color:#ffffff;
	font-size:0.9rem;
	margin-top: 8%;
}

header {
	background-color:var(--a-link-visited-color-me);
	letter-spacing:0.3rem;
	font-size:2.7rem;
	font-style:oblique;
	font-weight:bolder;
	color:#ffffff;
	padding: 1rem 1rem 1rem 7rem;
	border: solid 2px black;
}

h4 {
	font-size:1.5rem;
	color:var(--border-color-2-me);
	font-weight:lighter;
	margin:0.5rem;
	letter-spacing:0.1rem;
}

h5 {
	font-size:1.0rem;
	color:var(--border-color-2-me);
	font-weight:lighter;
	margin:0.5rem;
	letter-spacing:0.1rem;
}

hr {
	border-top: 1px solid var(--border-color-2-me);
	margin-top: 2rem;
	margin-bottom: 2rem;
	opacity: 0.5;
}

.hr_margin_bottom {
	margin-bottom: 3rem;
}
.head3log {
	font-size:1.8rem;
	color:var(--border-color-2-me);

	margin:0.5rem;
	letter-spacing:0.15rem;
}

.login {
	background-color:var(--content-bg-color-me);
	width:35rem;
	height:fit-content;
	min-height: -moz-fit-content;
	border-radius:1.5rem;
	border-color:var(--border-color-2-me);
	border-style:solid;
	border-width:0.1rem;
	margin: 10% 10% 16%;
	padding:1rem;
	
}

.register {
	background-color: var(--content-bg-color-me);
	height:fit-content;
	min-height: -moz-fit-content;
	border-radius:1.5rem;
	border-color: var(--border-color-2-me);
	border-style:solid;
	border-width:0.1rem;
	margin: 1% 8% 16%;
	padding:1rem;
	
}

.input_field {
	width:22rem;
	height:3rem;
	border-radius:0.4rem;
	margin:1rem;
	font-size:1.3rem;
}

.input_field:focus {
	background-color: var(--text-input-focus-bg-color-me);
}

.input_field.description {
	width:80%;
}

.input_form {
	padding:2rem;
}

.input_form button {
	font-size:1.2rem;
	color: var(--border-color-2-me);
	margin: 2rem 2rem 0.5rem 1rem;
	border-radius:0.3rem;
	border-style:solid;
	border-width:0.1rem;
	border-color: var(--border-color-2-me);
	width:10rem;
	height:2rem
}

.input_form button:hover {
	color:#ffffff;
	background-color:var(--border-color-2-me);
}

.a_red:link {
	color:var(--border-color-2-me);
}

.a_red:visited {
	color: var(--a-link-visited-color-me);
}

.a_white {
	color:#ffffff;
	text-decoration:none;
}


