
.soundtrack_panel {
    background-color: white;
    min-width: fit-content;
    width: 100%;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.sndImg img {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    margin: 5px;
    background-color: lightgray;
}

.snd_text_container {
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    min-width: fit-content;
    width: 80%;
}

.snd_name {
    font-size: 150%;
    margin: 2px;
    width:auto;
    flex-wrap: nowrap;
}

.snd_artist {
    font-size: 125%;
    margin: 2px;
    color: gray;
    width:auto;
}

.soundtrack_panel:hover {
    background-color: var(--soundtrack-bg-hover-color-mu);
}