<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="stylesheet" th:href="@{albums.css}">
    <script th:src="@{album.js}"></script>
    <title>albums</title>
</head>

    <div class="whole">
        <div class="header">
            <div class="logo">  </div>
        </div>

        <div class="upperPanel">
            <div class="button"> <a th:href="@{/}"> Главная </a></div>
            <div class="button"> <a th:href="@{/albums}"> Альбомы </a> </div>
            <div class="button"> <a th:href="@{/load}"> Загрузить </a> </div>
            <div class="button"> <a th:href="@{/creation}"> Создать </a> </div>
        </div>

        <div class="main">
            <h2> Альбомы </h2>

            <div th:if="${playlists.isEmpty()}">
                <h3> Вы не создали ни одного альбома</h3>
            </div>

            <div class="albumPanel" th:each="playlist : ${playlists}" th:id="${playlist.getId()}" onclick="openAlbum(event)">
                <div class="albumImg"> <img th:src="${playlist.getImgHref()}"/> </div>

                <div class="albumTextContainer">
                    <div class="albumName" th:text="${playlist.getName()}"> </div>
                   <div class="albumInfo" th:text="${playlist.getCount()} + ' треков'" > </div>
                </div>
            </div>

        </div>

        <div class="footer">
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>

</html>