<div>
  <hr class="hr_chat">
  <li th:id="'contact_' + ${contact.getReferer().getId()}" class="chat">
      <div> <img class="chat_photo" th:src="@{|~${contact.getReferer().getImgHref()}|}"> </div>

      <div class="text">
        <span class="contact_name" th:text="${contact.getReferer().getUsername()}"> </span>
      </div>

      <div class="createChatButtonContainer">
<!--          <input class="createChatButton" th:id="${contact.getReferer().getUsername()}" type="button" value="Выбрать" onclick="addNewContact(event)">-->
      </div>

  </li>
</div>