<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta id="csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/const.css}">
    <link rel="stylesheet" th:href="@{/css/messenger_main.css}">
    <link rel="stylesheet" th:href="@{/css/messenger_profile.css}">
    <link rel="stylesheet" th:href="@{/css/messenger_additional.css}">
    <script type="text/javascript" th:src="@{/js/menuHandler.js}"></script>
    <script type="text/javascript" th:src="@{/js/buttonHandler.js}"></script>
    <script type="text/javascript" th:src="@{/js/funcs.js}"></script>
    <title> Контакты </title>
</head>


    <body>
        <div class="all">
            <header> <...> </header>

            <div class="main">
                <div class="sidebar">
                    <div id="profilePhoto" class="profile_photo_panel">
                        <img th:id="'usr_' + ${user.id}" class="profile_photo" th:src="@{|~${user.imgHref}|}" onclick="getProfile(this.id)">
                        <div class="username" th:text="'Вы вошли как @' + ${user.username}"> </div>
                    </div>

                    <ul>
                        <hr class="hr_main">
                        <li> <a class="sidebar_link" onclick="chats()" th:href="@{/profile}"> Чаты </a> </li>
                        <hr class="hr_main">
                        <li> <a class="sidebar_link" th:href="@{/contacts}"> Контакты </a> </li>
                        <hr class="hr_main">
                        <li> <a class="sidebar_link" th:href="@{/soundtracks}"> Музыка </a> </li>
                        <hr class="hr_main">
                        <li> <a class="sidebar_link" onclick="logout()" th:href="@{/login}"> Выход </a> </li>
                        <hr class="hr_main">
                    </ul>
                </div>

                <div id="shad" class="shadow" onclick="hideProfile()" style="display: none;">

                </div>

                <div id="prof-z-pane" style="display: none;">

                </div>


                <div class="content">
                    <div class="chat_control_panel">
                        <div class="search_field_container">
                            <input id="search" class="user_search_input" type="text" placeholder="Введите имя пользователя для поиска">
                        </div>

                        <div class="create_chat_button_container">
                            <input class="search_button bhover" type="button" value="Искать" onclick="searchForUsers()">
                        </div>
                    </div>

                    <div id="zpane" class="z-panel" style="display: none;">
                        <div class="wnd">
                            <div class="contact_content">

                            </div>

                            <div class="button_pane_z">
                                <input class="create_chat_button bhover" type="button" onclick="closeZpane()" value="Закрыть">
                            </div>
                        </div>
                    </div>

                    <ul class="ul_chats" id="allContacts">
                        <div th:if="${Contacts.isEmpty()}"> Вы не добавили ни одного контакта. </div>

                        <div th:each="contact : ${Contacts}" th:if="${!Contacts.isEmpty()}">
                            <hr class="hr_chat">
                            <li th:id="'contact_' + ${contact.getReferer().getId()}" class="chat">
                                <div> <img class="chat_photo" th:src="@{|~${contact.getReferer().getImgHref()}|}"> </div>
                                <div class="text align">
                                    <span class="contact_name" th:text="${contact.getReferer().getUsername()}"> </span>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>

            </div>

            <footer> <span> <a class="a_white" href="">  </a> | <a class="a_white"  href="">  </a> | <a class="a_white"  href="">  </a> </span> </footer>

        </div>
    </body>
</html>