<div th:each="user : ${users}">
    <hr class="hr_chat">
    <li th:id="${user.getId()}" class="chat">
        <div> <img class="chat_photo" th:src="@{|~${user.getImgHref()}|}"> </div>

        <div class="user_line_container">
            <div class="text align">
                <span class="contact_name" th:text="${user.getUsername()}"> </span>
            </div>

            <div class="createChatButtonContainer align">
                <input class="createChatButton" th:id="${user.getUsername()}" type="button" value="Добавить" onclick="addNewContact(event)">
            </div>
        </div>
    </li>
</div>