<!DOCTYPE HTML>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{/css/const.css}">
    <link rel="stylesheet" th:href="@{/css/music_main.css}">
    <title>creation</title>
</head>
    <div class="whole">
        <div class="header">
            <div class="logo">  </div>
        </div>

        <div class="upperPanel">
            <div class="button"> <a th:href="@{/}"> Главная </a></div>
            <div class="button"> <a th:href="@{/albums}"> Альбомы </a> </div>
            <div class="button"> <a th:href="@{/load}"> Загрузить </a> </div>
            <div class="button"> <a th:href="@{/creation}"> Создать </a> </div>
        </div>

        <div class="main">
            <h2> Создать новый альбом </h2>

        </div>

        <div class="footer">
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
</html>