<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>main</title>
    <link rel="icon" th:href="@{/images/favicon.png}">
    <link rel="stylesheet" th:href="@{main.css}">
    <link rel="stylesheet" th:href="@{soundtrack.css}">
    <link rel="stylesheet" th:href="@{player.css}">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" th:src="@{player.js}"></script>
</head>

    <div class="whole">

        <div class="header">
            <div class="logo"> </div>
        </div>

        <div class="upperPanel">
            <div class="buttons">
                <div class="button"> <a th:href="@{/}"> Главная </a></div>
                <div class="button"> | </div>
                <div class="button"> <a th:href="@{/albums}"> Альбомы </a> </div>
                <div class="button"> | </div>
                <div class="button"> <a th:href="@{/load}"> Загрузить </a> </div>
                <div class="button"> | </div>
                <div class="button"> <a th:href="@{/creation}"> Создать </a> </div>
            </div>
        </div>

        <div class="main" id="main">
            <h2> Основной плейлист </h2>

            <div th:if="${soundtracks.isEmpty()}">
                <h3> Вы не загрузили ни одного трека</h3>
            </div>

            <div class="soundtrackPanel" th:each="soundtrack : ${soundtracks}">
                <div class="sndImg"> <img th:src="${soundtrack.getImgHref()}"> </div>

                <div class="sndTextContainer">
                    <div class="sndName" th:id="'name_' + ${soundtrack.getId()}" th:text="${soundtrack.getName()}"> </div>
                    <div class="sndArtist" th:id="'artist_' + ${soundtrack.getId()}" th:text="${soundtrack.getArtist()}"> </div>
                </div>

                <div class="player">
                    <audio  th:id="${soundtrack.getId()}" preload="auto">
                        <source th:src="@{|~${soundtrack.trackHref}|}" type="audio/mpeg">
                    </audio>

                    <div class="controls" ondragover="move(event)">
                        <button class="buttonp" th:id="'play_' + ${soundtrack.getId()}" style="background-position: 6px 5px" onclick="play(event)" type="button"> </button>
                        <button class="buttonp" th:id="'mute_' + ${soundtrack.getId()}" style="background-position: -58px 5px" onclick="mute(event)" type="button"> </button>

                        <div class="wrap" ondragover="move(event)">
                            <div class="seekbar" th:id="'seek_' + ${soundtrack.getId()}" onclick="move(event)">
                                <div class="progress" th:id="'progress_' + ${soundtrack.getId()}"> </div>
                            </div>

                            <div th:id="'dur_' + ${soundtrack.getId()}" class="time" th:value="${soundtrack.getDuration()}" th:text="${soundtrack.getTime()}"> </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>


        <div class="footer">
            <br>
            <br>
            <br>
            <br>
        </div>

    </div>
</html>