<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<html>
	<meta charset="utf-8">
	<title> Авторизация </title>
	<link rel="icon" th:href="@{/images/favicon.png}">
	<link rel="stylesheet" href="messenger_main.css">

	<body>
		<header> <...> </header>
		
		<div class="login">
			<h3 class="head3log"> Авторизация </h3>

			<form class="input_form" th:action="@{/login}"  method="post">
				<div th:if="${message}"> <h5 th:text="${message}"/> </div>

				<input class="input_field" type="text" required name="username" placeholder="Логин" />
				<input class="input_field" type="password" required name="password" placeholder="Пароль" />
				<button>Вход</button>
			</form>
			
			<a class="a_red" th:href="@{/register}">Регистрация</a>
			
		</div>
		
		<footer> <span> <a class="a_white" href="">  </a> | <a class="a_white"  href=""> </a> | <a class="a_white"  href="">  </a> </span> </footer>

	</body>



</html>