<div class="bubble_right">
    <div class="current_user" th:text="${message.getContent()}">
        <svg viewBox="0 0 11 20" width="11" height="20" class="bubble-tail"></svg>
    </div>

    <div th:each="imghref : ${message.getFileHref()}" th:if="${imghref.getType().equals('image')}">
        <div> <img th:src="${imghref.getFileHref()}"> </div>
    </div>

    <div th:each="filehref : ${message.getFileHref()}" th:if="${imghref.getType().equals('file')}">
        <div>
            <div> <img th:src="@{|'/images/file.png'|}"> </div>
            <div th:src="${filehref.getFileHref()}"> </div>
        </div>
    </div>

</div>