<div class="messages">
    <div th:class="(${message.getUser().getId()} == ${thisUser.getId()}) ? 'bubble_right' : 'bubble'" th:each="message : ${allMessages}">
        <div class="current_user" th:if="${message.getUser().getId()} == ${thisUser.getId()}" th:text="${message.getContent()}">
            <div th:each="filehref : ${message.getFileHref()}" th:if="${filehref.getType().equals('image')}">
                <div class="bubble_image"> <img th:src="${filehref.getFileHref()}"> </div>
            </div>

            <div th:each="filehref : ${message.getFileHref()}" th:if="not ${filehref.getType().equals('image')}">
                <div>
                    <div class="bubble_image"> <img src="/images/file.png"> </div>
                    <div th:src="${filehref.getFileHref()}"> </div>
                </div>
            </div>
            <svg viewBox="0 0 11 20" width="11" height="20" class="bubble-tail"></svg>
        </div>

        <div class="another_user" th:if="${message.getUser().getId()} != ${thisUser.getId()}" th:text="${message.getContent()}">
            <div th:each="filehref : ${message.getFileHref()}" th:if="${filehref.getType().equals('image')}">
                <div class="bubble_image"> <img th:src="${filehref.getFileHref()}"> </div>
            </div>

            <div th:each="filehref : ${message.getFileHref()}" th:if="not ${!filehref.getType().equals('image')}">
                <div>
                    <div class="bubble_image"> <img src="/images/file.png"> </div>
                    <div th:src="${filehref.getFileHref()}"> </div>
                </div>
            </div>
            <svg viewBox="0 0 11 20" width="11" height="20" class="bubble-tail"></svg>
        </div>
    </div>
</div>
