<!DOCTYPE HTML>

<html>
	<meta charset="utf-8">
	<title> Чаты </title>
	<link rel="icon" th:href="@{/images/favicon.png}">
	<link rel="stylesheet" th:href="@{messenger_main.css}">
	<link rel="stylesheet" th:href="@{messenger_profile.css}">

	<body>
		<div class="all">
			<header> <...> </header>
			
			<div class="main">
				<div class="sidebar"> 
					
					<div class="profile_photo_panel">
						<img class="profile_photo" src="">
					</div>
					
					<ul>
						<hr class="hr_main">
					
						<li> <a class="sidebar_link" href=""> Чаты </a> </li>
						
						<hr class="hr_main">
						
						<li> <a class="sidebar_link" href=""> Контакты </a> </li>
						
						<hr class="hr_main">
						
						<li> <a class="sidebar_link" th:href="@{/home}"> Музыка </a> </li>
						
						<hr class="hr_main">
						
						<li>  <a class="sidebar_link" th:href="@{/logout}"> Выход </a> </li>
						
						<hr class="hr_main">
					</ul>
				</div>
				
				<div class="content">
					<ul class="ul_chats" type="none">
						<hr class="hr_chat">
						<li class="chat"> 
							<div> <img class="chat_photo" src=""> </div>
							<div class="text">
								<span class="chat_name"> Антон Борисов </span>
								<span class="chat_preview"> Привет! </span>
							</div>
						</li>
						<hr class="hr_chat">
						
					</ul>
						
					
				</div>
				
			</div>
			
			<footer> <span> <a class="a_white" href="">  </a> | <a class="a_white"  href="">  </a> | <a class="a_white"  href="">  </a> </span> </footer>

		</div>
		
	</body>



</html>